@use 'tailwindcss';

html,
body {
  height: 100dvh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @extend %font-bold-16;
}

#root {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow-y: auto;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
p,
span,
li {
  cursor: default;
}

input:-webkit-autofill,
input:-webkit-autofill::selection,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-moz-autofill,
input:-moz-autofill::selection,
input:-moz-autofill:hover,
input:-moz-autofill:focus {
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

@theme {
  --font-sans: var(--font-sans), sans-serif;
  --font-mono: var(--font-mono), sans-serif;
}

/***** Кастомный глобальный скроллбар *****/
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(0, 122, 85) transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(0, 122, 85);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 122, 85, 0.7);
}

*::-webkit-scrollbar-button {
  display: none;
}
